<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the Math Practice website</title>
    </head>

    <body>
        <h1>Welcome to Rob's sample works. Thanks for visiting.</h1>
        <p>List of applications on this website:</p>
        <li><a href="{% url 'polls:index' %}">Sample of a polling website</a></li>
        <li><a href="{% url 'hello:index' %}">Mobile and workstation friendly calculator </a></li>
        <li><a href="{% url 'hello:bubbleshooter' %}">Shoot the kid bubbleshooter game</a></li>
        <li><a href="{% url 'hello:tictactoe' %}">Javascript TicTacToe game</a></li>
    </body>
</html>

