/* 
wish list: i want to 
make a drop down navigation menu
for this app
 */

 /* Goal is to make 
 the calculator 300px wide on a small
 iPhone that has a screen of 320px, and 
 it has to be shorter than the viewport.
 but if the screen is larger, 
 the calculator can expand to 390 px, 
 i think in both cases the height also needs to 
 be responsive to the viewport 
 
 
 Apple iPhone SE (2020)	375 x 667
 
 i think the older one: 320 x 568
 */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Style main body */
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #5f0dd9;
}

/* Style wrapper for form */
.body-wrapper{
  display: grid;
  place-items: center center;
}

/* Style top border */
#headingDiv {
  display: inline-flex;
  margin: 10px auto 0px;
  background: #d90dc1;
  height: 20px;
  width: 90vw;
  border-radius: 0.5em 0.5em 0 0;
  flex-flow: row wrap;
}

#headline{
  flex: 8;
  padding-left: 10px;
}
#stats-icon{
  flex: 1;
  align-self: center;
  justify-self: center;
}
#menu-icon{
  flex: 1;
  align-self: center;
  justify-self: center;
}

/* Style heading */
h2 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: smaller;
  text-align: center;
  color: #d5d90d;
  
}

/* Style the calculator body */
/* note: page is set to box-sizing border box, 
thus, the width remains 390px despite the padding */
form {
  width: 90vw;
  margin: 0px auto;
  background: #fff;
  padding: 0px 0px;
  text-align: center;
  box-shadow: 0px 5px 5px -0px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
}

/* Style the top most buttons */
#topDiv {
  display: none;

  /* need to figure out how to better place these buttons. */
  /* display: flex;
  margin: 0px auto;
  width: 0px;
  align-items: center;
  justify-content: space-around; */
}

/* Style buttons for timed run and quit */
.controlBtn {
  /* margin: auto;
  width: 100px;
  height: 30px; */
}

/* Style the div holding the form */
#pinpad {
  display: grid;
  /* position: relative; was fixed Stay in place */
  /* touch-action: manipulation; */
}

/* Style the div holding the equation and answer box*/
.infoSection {
  display: flex;
  padding: 0px 10px;
  border-radius: 5px;
  justify-content: center;
  padding-right: 0px;
  align-items: center;
}

/* Style the math equation, make it longer than the answer box */
#mathProblem {
  flex: 6;
  font-size: 30px;
  margin-top: 3px;

}

/* Style the textbox where the user answer appears */
#mainInput {
  flex: 3;  /*make it shorter than equation*/
  width: 40px;
  border: none;
  background-color: #aaa;
  padding: 0px;
  border-radius: 5px;
  font-size: 30px;
  color: transparent;
  text-shadow: 0 0 0 rgb(71, 71, 71);
  text-align: center;
  margin: auto;
  margin-top: 3px;
  margin-right: 3px;

}

/* Style the label for the computer response */
#results {
  display: block;
  width: 100%;
  margin-top: 5px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 0px;
  font-size: 1.25em;
  color: black;
}

/* Style all the buttons on calc */
.pinButton {
  border: none;
  background: none;
  font-size: 1em;
  border-radius: 5px;
  height: 70px;
  font-weight: 550;
  width: 60px;
  color: transparent;
  text-shadow: 0 0 0 rgb(102, 101, 101);
  margin: 3px 3px;
}


/* Style the number button reactions */
.calc:hover {
  box-shadow: #506ce8 0 0 1px 1px;
}
.calc:active {
  background: #506ce8;
  color: #fff;
}

/* Style the enter and clear buttons */
.clear,
.enter {
  font-size: 1.25em !important;
}
.enter {
  margin: 0 auto 10px;
  height: 15vh;
  width: 85vw;
  box-shadow: #7d817f 0 0 1px 1px;
}

/* Style the clear button reactions */
.clear:hover {
  box-shadow: #ff3c41 0 0 1px 1px;
}
.clear:active {
  background: #ff3c41;
  color: #fff;
}

/* Style enter button reactions */
.enter:hover {
  box-shadow: #47cf73 0 0 1px 1px;
}
.enter:active {
  background: #47cf73;
  color: #fff;
}

/* Style the math equation */
.labelText {
  font-size: 50px;
  color: transparent;
  text-shadow: 0 0 0 rgb(71, 71, 71);
  text-align: center;
}

/* for the close button */
#closed {
  margin-left: 20px;
  padding: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* hide or show the log window */
#logDiv {
  display: none;
}

.center-content{
  /* width: 350px; */
  justify-content: center;


}
 /* size for iPhone SE2016 */
 @media screen and (min-width: 321px){
  #headingDiv {
    height: 40px;
    width: 90vw;
  }
  
  /* Style heading */
  h2 {
    padding-top: 5px;
    font-size: large;
  }
  #results{
    font-size: 1.25em;
  }
  .pinButton{
  font-size: 1.5em;
  width: 75px;
  }
  
#enter{
  width: 85vw;
}
}
@media screen and (min-width: 365px){
  .pinButton{
    width: 100px;
  }

}
/* size for iPhone SE2022 (at 375px changes to expression) */
@media screen and (min-width: 391px){
  form{
    width: 390px;
  }
  
/* Style top border */
#headingDiv {
  height: 80px;
  width: 390px;
}

/* Style heading */
h2 {
  font-size: 25px;
  padding-top: 20px;
}
#mathProblem{
  font-size: 60px;
}
#mainInput{
  font-size: 60px;
}

.pinButton{
  width: 100px;
  }
  #results{
    font-size: 1.5em;
    height: 40px;
  }
  
#enter{
  width: 360px;
}
}


/* *********************************************
******* CSS for the overlay button************* */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' -25,
    'opsz' 48;
  
    cursor: pointer;
  }
