<style>
    #titleBar{
        color: darkblue;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: space-around;
        border: 1px solid blue;
        border-radius: 10px;
    }
   #titleLabel{
        font-size:x-large; 
   }

</style>
<div id="titleBar">
    <h1>Title page:</h1>
        <label id="titleLabel">Hello</label>
</div>
        <p>Change the page title.</p>
<input type="text" id="inputText">
<input type="button" id="enterBtn" onclick="getInput()" value="Enter"></button>


<h1>This section lists titles from a database</h1>
{% if titles_list %}
    <ul>
        {% for title in titles_list %}
            <li>{{ title.post_text }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<input type = "button" onclick="goList()" value="See all posts">
<h1>Add a post</h1>
<input type="button" id="createPostBtn" onclick="createPost()" value="New Post">

<script>
    function getInput(){
        addTitle = document.getElementById("inputText").value;
        document.getElementById("titleLabel").innerHTML = addTitle;
    }
    function createPost(){
        window.location.href = "{% url 'guestLog:add_post' %}"
    }
    function goList(){
        window.location.href = "{% url 'guestLog:posts' %}"
    }
</script>