li a {
    color: green;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
}    

#box1 {
    background: white url("images/background.164d42ffcdd2.png") no-repeat;
}

