li a {
    color: green;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row;
}    

#box1 {
    width: 200px;
    height: 200px;
    background: white url("images/background.png") no-repeat;
}

